{% load static %}
<!-- header -->
<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <button class="header__menu" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <a href="/" class="header__logo">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>

                        <ul class="header__nav">
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="{% url 'content:all-games' %}">All Games</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="{% url 'content:game-category' slug='html' %}">HMTL Games</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="{% url 'content:game-category' slug='mobile' %}">Mobile Games</a>
                            </li>
                        </ul>

                        <div class="header__actions">
                            

                            <a href="{% if msisdn == 'Anonymous User' %}{% url 'users:phone_login' %}?next={{ request.path|urlencode }}{% else %}#{% endif %}" class="header__login">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><polyline points='288 336 368 256 288 176' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='80' y1='256' x2='352' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                                <span>{{msisdn}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <form action="{% url 'content:search' %}" class="header__form">
                            <input type="search" name="q" class="header__input" placeholder="I'm searching for...">
                            
                            <button class="header__btn" type="button">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M221.09,64A157.09,157.09,0,1,0,378.18,221.09,157.1,157.1,0,0,0,221.09,64Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='338.29' y1='338.29' x2='448' y2='448' style='fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/></svg>
                            </button>
                        </form>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->